$textAndShadow: rgb(255, 255, 255);
$mainHeader: rgb(187, 187, 187);
$secondaryText: rgb(245, 245, 245);
$buttonTextShadow: rgb(0, 0, 0);
$buttons: rgb(104, 0, 0);
$homeButton: rgb(148, 148, 148);
$buttonsHover: rgb(97, 97, 97);