// font-family: 'Architects Daughter', cursive;
// font-family: 'Cormorant SC', serif;

h1 {
    font-family: 'Cormorant SC', serif;
    text-transform: uppercase;
    font-size: 10rem;
    text-shadow: 3px 3px 10px white;
    color: rgb(187, 187, 187);
}

h2 {
    font-family: 'Cormorant SC', serif;
    text-transform: uppercase;
    font-size: 6rem;
    text-shadow: 3px 3px 10px white;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Architects Daughter', cursive;
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 10px black;
}

.energy p {
    font-family: 'Cormorant SC', serif;
    font-size: 3.5rem;
    color: whitesmoke;
    text-decoration: underline;
}

button {
    font-family: 'Cormorant SC', serif;
    font-size: 4rem;
}