// font-family: 'Architects Daughter', cursive;
// font-family: 'Cormorant SC', serif;

h1,
h2,
h3 {
    font-family: 'Cormorant SC', serif;
    text-transform: uppercase;
    text-shadow: 3px 3px 10px white;
}

h1 {
    font-size: 10rem;
    color: rgb(187, 187, 187);
}

h2,
h3 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Architects Daughter', cursive;
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 10px black;
}

.energy p {
    font-family: 'Cormorant SC', serif;
    font-size: 3.5rem;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    // background-color: rgba(0,0,0,.7);
}

button {
    font-family: 'Cormorant SC', serif;
    font-size: 4rem;
}