@import 'setup';
@import 'typography';
@import 'colors';
@import 'mobile';

body {
    background-image: url(../assets/bodyBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

img,
button {
    box-shadow: 3px 3px 20px white;
}

button {
    margin-bottom: 20%;
    text-shadow: 1px 1px 5px black;
    border: none;
    // background-color: rgb(148, 148, 148);
    background-color: rgb(104, 0, 0);
    color: whitesmoke;
    border-radius: 5px;
        &:hover,
        &:focus {
            background-color: rgb(97, 97, 97);
            cursor: pointer;
        }
        &:active {
            box-shadow: none;
        }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.creatureImage {
    width: 45%;
}

.playArea {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.answerButtons {
    display: flex;
    flex-direction: column;
}

.homeBtn {
    margin-top: 5%;
    // background-color: rgb(133, 0, 0);
    background-color: rgb(148, 148, 148);
    width: 25%;
    box-shadow: none;
    // color: whitesmoke;
}

.energy {
    text-align: center;
}

@media (max-width: 1150px) {
    h1 {
        text-align: center;
        font-size: 8rem;
    }
    h3 {
        font-size: 6rem;
    }
    body {
        background-size: auto;
    }

    .startBtn {
        margin-top: 50px;
    }
}

@media (max-width: 760px) {
    h1,
    h3 {
        font-size: 4rem;
        text-align: center;
    }

    .intro {
        overflow-y: scroll;
        height: 50vh;
    }

    .playArea {
        flex-direction: column;
    }

    .creatureImage {
        width: 100%;
    }

    .energy p{
        font-size: 3rem;
    }

    button {
        margin-bottom: 10%;
        font-size: 3.5rem;
    }

    .homeBtn {
        width: 80%;
        margin-top: 50px;
    }

    .endMessage {
        text-align: center;
    }

}