@import 'setup';
@import 'typography';
@import 'colors';

// general styling
.wrapper {
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

body {
    background-image: url(../assets/bodyBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1,
h2,
h3 {
    text-shadow: 3px 3px 10px $textAndShadow;
}

h1 {
    color: $mainHeader;
}

h2,
h3 {
    color: $textAndShadow;
}

p {
    color: $secondaryText;
}

img,
button {
    box-shadow: 3px 3px 20px $textAndShadow;
}

button {
    margin-bottom: 20%;
    text-shadow: 1px 1px 5px $buttonTextShadow;
    border: none;
    background-color: $buttons;
    color: $secondaryText;
    border-radius: 5px;
        &:hover,
        &:focus {
            background-color: $buttonsHover;
            cursor: pointer;
        }
        &:active {
            box-shadow: none;
        }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

// home & end pages styling
.intro,
.endMessage {
    padding: 20px;
    background-color: rgba(0,0,0,.8);
    border-radius: 10px;
}

.intro {
    line-height: 1.4;
}

.endMessage {
    text-align: center;
}

// game page styling
.creatureImage {
    width: 45%;
}

.playArea {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.answerButtons {
    display: flex;
    flex-direction: column;
}

.homeBtn {
    margin-top: 5%;
    background-color: $homeButton;
    width: 25%;
    box-shadow: none;
}

.energy {
    text-align: center;
        p {
            border: 3px solid $secondaryText;
        }
}

@media (max-width: 1150px) {
    h1 {
        text-align: center;
        font-size: 8rem;
    }

    h3 {
        font-size: 6rem;
    }

    body {
        background-size: auto;
    }

    .startBtn {
        margin-top: 50px;
    }
}

@media (max-width: 760px) {
    h1,
    h3 {
        font-size: 4rem;
        text-align: center;
    }

    button {
        margin-bottom: 10%;
        font-size: 3.5rem;
    }

    .homeBtn {
        width: 80%;
        margin-top: 0;
    }

    .intro {
        overflow-y: scroll;
        height: 50vh;
        line-height: 1.3;
    }

    .playArea {
        flex-direction: column;
    }

    .creatureImage {
        width: 100%;
    }

    .energy p{
        font-size: 3rem;
    }

    .endMessage {
        text-align: center;
    }
}